/* eb-garamond-regular - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('#{$asset_url}/fonts/Alegreya-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Alegreya-Regular'), local('Alegreya-Regular'),
       url('#{$asset_url}/fonts/Alegreya-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$asset_url}/fonts/Alegreya-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$asset_url}/fonts/Alegreya-Regular.woff') format('woff'), /* Modern Browsers */
       url('#{$asset_url}/fonts/Alegreya-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$asset_url}/fonts/Alegreya-Regular.svg#Alegreya') format('svg'); /* Legacy iOS */
}